<style type="text/css">
  .kiptable .title {
    width: 67%;
  }

  .kiptable .author {
    width: 33%;
  }

  .sublist {
    margin-left:20px;
  }
</style>

<h2>KIP Types</h2>

<p>KIPs are separated into 4 types, and each has its own list of KIPs.</p>

<h3 class="sublist"><a href="{{"core"|relative_url}}">Core</a> ({{site.pages|where:"type","Core"|size}})</h3>
<p class="sublist">A Core KIP describes any change that affects Kaia protocol implementations, such as a change to the network protocol, an improvement in block or transaction validity rules, an improvement in storage-layer mechanism, an improvement in interface around client API/RPC specifications and standards, and also certain language-level standards like method names and contract ABIs, any change in Kaia’s tokenomics-related settings and financial parameters, or any change in GC block reward mechanism, etc. Core KIP would be seen requiring a consensus fork as well as changes that are not necessarily consensus critical but may be relevant to any core-related development. Core KIPs consist of two parts, a design document and implementation.</p>

<h3 class="sublist"><a href="{{"ecosystem"|relative_url}}">Ecosystem</a> ({{site.pages|where:"type","Ecosystem"|size}})</h3>
<p class="sublist">An Ecosystem KIP describes any change falling under the broad category of ecosystem features, tools or environment used in Kaia development, such as a change on application layer related to proposed application standards/conventions, or any change or addition that affects the interoperability of applications using Kaia, or a change in SDK layer related to application-level standards and conventions, such as name registries, URI schemes, library/package formats, and wallet formats, or an introduction of new ecosystem tool that could be integrated to the Kaia chain with implementation know-hows, or an introduction of contract standards that would introduce ecosystem features, etc.
</p>

<h3 class="sublist"><a href="{{"tokenization"|relative_url}}">Tokenization</a> ({{site.pages|where:"type","Tokenization"|size}})</h3>
<p class="sublist">A Tokenization KIP describes any change or introduction related to Kaia compatible tokens, such as an introduction of purpose-driven fungible token or non-fungible token and its minting policies in general.</p>

<h3 class="sublist"><a href="{{"meta"|relative_url}}">Meta</a> ({{site.pages|where:"type","Meta"|size}})</h3>
<p class="sublist">A Meta KIP describes a process surrounding Kaia or proposes a change to (or an event in) a process. Meta KIPs apply to areas other than the KIPs listed above. Examples include procedures, guidelines, and changes to the decision-making process. Any Meta KIP is also considered a Process KIP.</p>

<h2>Kaia KIPs Last Call Review</h2>
<p>All KIPs which are in the two-week "last call" status, please help review these and provide your feedback!</p>

{% assign kips = site.pages|where:"status","Last Call"|sort:"kip" %}
{% assign count = kips|size %}
{% if count > 0 %}
<h2 id="{{status|slugify}}">{{status}}</h2>
<table class="kiptable">
<thead>
<tr><th class="kipnum">Number</th><th class="title">Title</th><th class="title">Type</th><th class="author">Author</th></tr>
</thead>
{% for page in kips %}
<tr>
  <td class="kipnum"><a href="{{page.url|relative_url}}">{{page.kip|xml_escape}}</a></td>
  <td class="title">{{page.title|xml_escape}}</td>
  <td class="Category">{{page.type}}</td>
  <td class="author">{% include authorlist.html authors=page.author %}</td>
</tr>
{% endfor %}
</table>
{% endif %}
{% if count == 0 %}
<p>N/A</p>
{% endif %}
